*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(195, 231, 231);
    padding: 10px;
}

.header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}

.menu_container{
    display: grid;
    padding: 5px;
    
    
}



.menu_1 , .menu_2 , .menu_3{
    background-color: beige;
    border: 2px solid black;
}

.menu_heading{
    display: flex;
    flex-direction: row-reverse;

}

.menu_name1{
    border: 2px solid black;
    background-color: rgb(184, 62, 18);
    padding: 5px;
    
}

.menu_name2{
    border: 2px solid black;
    background-color: rgb(227, 130, 55);
    padding: 5px;
    
}

.menu_name3{
    border: 2px solid black;
    background-color: rgb(237, 189, 44);
    padding: 5px;
    
}

.menu_desc{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 992px){
    .menu_container{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}


@media (max-width: 991px) and (min-width: 768px) {
    .menu_container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 20px;
    }
    #menu_3{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 767px) {
    .menu_container{
        grid-template-rows: repeat(3,1fr);
        gap: 20px;
    }
}

